<!--start repeated content here-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>My Neighbour</title>
</head>
<body>
    <nav id="navbar">

        <span class="nav-head">My Neighbor</span>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="collapse">&#9776;</label>

        <div class="menu">
            {% if request.session.userid == None%}
            <button type="button" onclick="location.href = '{% url 'signin' %}';">Sign in</button>
            {% endif %}
            <a class="nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="">Guild</a>
            <a class="nav-link" href="">Profile</a>
            <a class="nav-link" href="{% url 'messages' %}">Search</a>

        </div>
    </nav>

    <!--pause repeated content here-->
    {% block content %}

    {% endblock %}
    <!--resume repeated content here-->

</body>
</html>
<!--end repeated content here-->