{% extends "base.html" %}

{% block content %}
<!--start original content here-->

<div class="guild-head-panel">
<h1>Guilds</h1>
<button class="add-guild">+</button>
</div>

<div class="guild-container">

    <div class="guild-card">
        <h2>Guild Name 1</h2>
        <p class="about">This is a short description about the guild.</p>
        <div class="guild-cardlinks">
            <a href="#open">Open</a>
            <a href="#join">Join</a>
        </div>
    </div>

    <div class="guild-card">
        <h2>Guild Name 2</h2>
        <p class="about">Another guild description goes here.</p>
        <div class="guild-cardlinks">
            <a href="#open">Open</a>
            <a href="#join">Join</a>
        </div>
    </div>
</div>



<!--end original content here-->
{% endblock %}