{% extends "base.html" %}

{% block content %}
<!--start original content here-->
<h2 class="guild-user-tab">Guild Members</h2>
<table class="guild-table">
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th>Joined Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sample name 1</td>
            <td class="role owner">Owner</td>
            <td>2025-09-21</td>
        </tr>
        <tr>
            <td>Sample name 2</td>
            <td class="role member">Member</td>
            <td>2025-09-18</td>
        </tr>
        <tr>
            <td>Sample name 3</td>
            <td class="role moderator">Moderator</td>
            <td>2025-09-15</td>
        </tr>
    </tbody>
</table>

<!--end original content here-->
{% endblock %}