{% extends "base.html" %}

{% block content %}
<!--start original content here-->


<h1>Profile</h1>

<div class="profile-container">

    <!-- user info-->

    <div class="user-info">
        <h2 class="username">{{profile}}</h2>
    </div>



    <!-- User's guilds -->
    <div class="user-guilds">
        <h3 class="profile_sectionhead">Your Guilds</h3>
        <div class="guilds-list">
            <div class="guild-card">
                <h4>Guild 1</h4>
            </div>
        </div>
    </div>


    <!-- user posts-->

<div class="posts-container">
    <h3 class="profile_sectionhead">Posts</h3>
    {% for post in data%}
    <div class="post-card">
        <h2> <a href="#profile" class="link-to-profile">{{post.username}}</a></h2>
        <p class="post-date"> Created on {{ post.creationDate|slice:":4" }}/{{ post.creationDate|slice:"5:7" }}/{{ post.creationDate|slice:"8:10" }}</p>
        <p class="post-content">{{post.text}}</p>
        <div class="post-links">
            <!-- <a href="#like" class="like-btn">Like</a> -->
            <!-- <a href="#comment" class="comment-btn">Comment</a> -->
        </div>
    </div>
    {%endfor%}
</div>

<!--end original content here-->
{% endblock %}