{% extends "base.html" %}

{% block content %}
<!--start original content here-->


<h1>Posts</h1>

<div class="profile-container">

    <!-- user info-->

    <div class="user-info">
        <img src="" alt="Profile Picture" class="profile-pic">
        <h2 class="username">Warissa Hossain</h2>
        <p class="user-id">ID: 112255</p>
    </div>

    <!-- User's guilds -->
    <div class="user-guilds">
        <h3>Your Guilds</h3>
        <div class="guilds-list">
            <div class="guild-card">
                <h4>Guild 1</h4>
            </div>
            <div class="guild-card">
                <h4>Guild 2</h4>
            </div>
        </div>
    </div>


    <!-- user posts-->



  


<div class="posts-container">
    <div class="post-card">
        <h2> <a href="#profile" class="link-to-profile">Post author name</a></h2>
        <p class="post-date"> sample date: 04.23.2004</p>
        <p class="post-content">This is a sample post content.</p>
        <div class="post-links">
            <a href="#like" class="like-btn">Like</a>
            <a href="#comment" class="comment-btn">Comment</a>
        </div>
    </div>

    <div class="post-card">
        <h2> <a href="#profile" class="link-to-profile">Post author name</a></h2>
        <p class="post-date"> sample date: 04.23.2004</p>
        <p class="post-content">This is a sample post content.</p>
        <div class="post-links">
            <a href="#like" class="like-btn">Like</a>
            <a href="#comment" class="comment-btn">Comment</a>
        </div>
    </div>

</div>

<!--end original content here-->
{% endblock %}